<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<gcConcurrent enabled="true"/>
	</runtime>

	<appSettings>
		<!-- SWTOR installation folder -->
		<add key="AssetsPath" value="C:\Program Files (x86)\Electronic Arts\BioWare\Star Wars - The Old Republic\"/>
		<!-- Assets - Load PTS files? -->
		<add key="AssetsUsePTS" value="false" />
		<!-- Previous SWTOR installation folder -->
		<add key="PrevAssetsPath" value="C:\Program Files (x86)\Electronic Arts\BioWare\Star Wars - The Old Republic\"/>
		<!-- Previous assets - Load PTS files?-->
		<add key="PrevAssetsUsePTS" value="true" />
		<!-- Path to the extract files -->
		<add key="ExtractPath" value="C:\SWTOR\Extract\"/>
		<!-- Path to the Previous Build's Full XML files -->
		<add key="PrevXMLPath" value="C:\SWTOR\PrevExtract\"/>
		<!-- Path Where to Extract Assets -->
		<add key="ExtractAssetsPath" value="C:\SWTOR\Assets\"/>

		<!-- UI / localized asset language -->
		<add key="Language" value="en-us"/>

		<add key="CrossLinkDOM" value="false"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
</configuration>
